<h1>Contact Us</h1>


<div class="row">
  <div class="col-sm-6">
    <address>
      <strong>HB RESTAURANT</strong>
      Chung cu Ba Son <br>
      Le Duc Tho St <br>
      Ward 7, Go Vap Dist, HCM City <br>
    </address>
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.734175700497!2d106.68135921450367!3d10.831643411134598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f8ded99e51%3A0xe27fb6f77eafadd4!2zQ2h1bmcgY8awIEJhIFNvbiAtIEfDsiBW4bqlcCwgTMOqIMSQ4bupYyBUaOG7jSwgUGjGsOG7nW5nIDcsIEfDsiBW4bqlcCwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1497586195294" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
