
<style>
  div.container4 {
    height: 10em;
    position: relative }
  div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

</style>

<div class="container4">

  <h1>WELCOME TO HB RESTAURANT</h1>
  <%= link_to "Menu", menu_path	, class: 'nav-link' %>
  <%= link_to "Contact US", home_contact_us_path	, class: 'nav-link' %>
</div>




